@import "utils/mixins";
@import "utils/animations";

@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

/*

  Author: Radulescu Vladut
  Company: Studio51

  Client: whitmoretearooms.co.uk
  Date completed: 27.02.2015
  Version: 2.0

  Credits: see ./humans.txt

*/

@import "utils/variables";
@import "utils/reset";

@import "base/base";
@import "base/icons";

@import "layout/header";

@import "components/carousel";
@import "components/board";
@import "components/box";

@import "utils/misc";

@import "layout/about";
@import "layout/menu";
@import "layout/contact";
@import "layout/footer";

@import "pages/menu";
@import "pages/reviews";