@import "utils/mixins";
@import "utils/animations";

@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

  .container {
    border: 1px solid red;
  }

  html::before {
    content: "You're on a Small Device right now";
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $brand-success;
    padding: 8px;

    @include mq($min, $tablet) {
      content: "You're on a Tablet right now";
      background-color: $brand-primary;
    }

    @include mq(null, $post-palm, $pre-tablet) {
      content: "Not sure";
      background-color: $brand-warning;
    }

    @include mq($min, $desktop) {
      content: "You're on a Desktop right now";
      background-color: $brand-danger;
    }
  }

/*

  Author: Radulescu Vladut
  Company: Studio51

  Client: whitmoretearooms.co.uk
  Date completed: 27.02.2015
  Version: 2.0

  Credits: see ./humans.txt

*/

@import "utils/variables";

/* 0.0 Reset */

  @import "utils/reset";

/* 1.0 Body */

  @import "base/base";

  /* 1.1 Misc */

    @import "base/icons";

/* 2.0 Navigation */

  @import "components/navigation";

/* 3.0 Intro */

  .intro {
    @extend .slideExpandUp;
  }

  /* 3.1 Background Carousel */

    @import "components/carousel";

  /* 3.2 Opening Times Board */

    @import "components/board";

/* 4.0 Content */

  section, footer {
    p, a {
      text-shadow: 0 0 1px rgba(#000, .3);
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#000,direction=0,strength=0.4);
      font-weight: 400;
    }
  }

  @import "components/box";

    /* 4.0.1 Quotes */

    .quote {
      font-style: italic;
      padding: ( $theme-padding / 2 ) 0;
    }

  /* 4.2 About Whitmore Tea Rooms */

    @import "pages/about";

  /* 4.3 Whitmore Tea Rooms Menus */

    @import "pages/menu";

/* Contact * Social media */

  @import "pages/contact";

/* 5.0 Footer */

footer {
  background-color: #fff;
  border-top: 1px solid $border-color;
  padding: $theme-padding 0;
}
