section#contact
  .container
    .row
      .col-sm-4

        //- Third party

        #TA_selfserveprop910.TA_selfserveprop
          ul#lhavYesTyIp.TA_links.uEbLDA
            li#ocreYhz.wQATjPxMgL
              a(target='_blank', href='http://www.tripadvisor.co.uk/')
                img(src='http://www.tripadvisor.co.uk/img/cdsi/img2/branding/150_logo-11900-2.png', alt='TripAdvisor')

      .col-sm-8
        .row
          .col-sm-12
            .box

              include reviews

        include social
