footer
  .container
    .row
      .col-sm-5
        p.client-meta &copy; 2015 Whitmore Tea Rooms

      .col-sm-7
        ul.list-inline.client-links
          li: a(href='/#about') About
          li: a(href='menu.html') Menu
          li: a(href='reviews.html') Reviews
          li: a(href='/#contact') Contact

  .map
    .container.vcard
      .row
        .col-sm-5
          p.logo
            img.img-responsive(src='img/whitmore-logo.svg', alt='Whitmore Tea Rooms Logo', title='Whitmore Tea Rooms')

        .col-sm-7
          .row
            .col-sm-12
              p.address
                span.street-address.address-line3 Mile Lane, Whitmore
                span.region.address-line Newcastle-under-Lyme, Staffordshire
                span.postal-code.address-line ST5 5HR

            .col-sm-12
              p.telephone 01782 680433

  .container
    .box.studio51
      p.studio51-meta
        | Design &amp; Development by
        a(href='http://www.creative-studio51.co.uk/') Studio51 Creative Services

      a(href='#') License

script(src="https://code.jquery.com/jquery-2.1.4.min.js")
script(src='http://www.jscache.com/wejs?wtype=selfserveprop&uniq=910&locationId=5111108&lang=en_UK&rating=true&nreviews=5&writereviewlink=true&popIdx=true&iswide=false&border=true&display_version=2')

script(src="js/main.min.js")

//if lt IE 7
  p.chromeframe
    | You are using an
    strong outdated
    |  browser. Please
    a(href='http://browsehappy.com/') upgrade your browser
    |  or
    a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
    |  to improve your experience.
