!!! 5

html(lang="en")
  head
    title Whitmore Tea Rooms | Traditional Tea Rooms in Staffordshire, Cheshire and Newcastle-under-Lyme

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(name="description", content="Quaint little village Tea Room, based in Whitmore, Newcastle-under-Lyme, Staffordshire")

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700')
    link(rel='stylesheet', href='css/main.min.css')

  body

    header
      nav.navbar
        .container
          .row
            .navbar-header
              a(href='http://whitmoretearooms.co.uk', title='Whitmore Tea Rooms')
                img.img-responsive(src='img/whitmore-logo.svg', alt='Whitmore Tea Rooms', title='Whitmore Tea Rooms')

            .navbar-contact-information
              p: i.wta-phone 01782 680433
              p: i.wta-mail info@whitmoretearooms.co.uk
