.row
  .menu-tabs
    .box
      #menu-page-left
        h1.section-title Menu

        img.img-responsive(src='img/tea-pot.png', alt='Tea Pot', title='Whitmore Tea Rooms')

        .bookings-information
          p Bookings available for large parties and special occasions.

      #menu-page-right
        div(role='tabpanel')
          ul.nav.nav-tabs(role='tablist')
            li.christmas(role='presentation')
              a.menu-item(href='#vouchers', aria-controls='vouchers', role='tab', data-toggle='tab') Gift Vouchers

            li.special(role='presentation')
              a.menu-item(href='#breakfast-menu', aria-controls='breakfast-menu', role='tab', data-toggle='tab') Breakfast &amp; Brunch
              
            li.active(role='presentation')
              a.menu-item(href='#tea-menu', aria-controls='tea-menu', role='tab', data-toggle='tab') Cream Tea &amp; Afternoon Tea

            li(role='presentation')
              a.menu-item(href='#lunch-menu', aria-controls='lunch-menu', role='tab', data-toggle='tab') Lunch &amp; Light Bites

            li(role='presentation')
              a.menu-item(href='#sandwiches-menu', aria-controls='sandwiches-menu', role='tab', data-toggle='tab') Sandwiches
              
            li(role='presentation')
              a.menu-item(href='#drinks-tea-menu', aria-controls='drinks-tea-menu', role='tab', data-toggle='tab') Tea &amp; Coffee
              
            li(role='presentation')
              a.menu-item(href='#drinks-cold-menu', aria-controls='drinks-cold-menu', role='tab', data-toggle='tab') Cold Drinks

  .menu-items
    .tab-content
      #vouchers.tab-pane.fade(role='tabpanel')
        h1.menu-category-title Gift Vouchers
        span *Vouchers are available to purchase by phone or collection

        .menu-inner
          .menu-inner-section
            .menu-item(style="text-align: left;")

              p Cream Tea <strong>&pound;5.50</strong>
              p Afternoon Tea <strong>&pound;15.00</strong>
              p Champagne Afternoon Tea <strong>&pound;22.50</strong>
              p Children's Afternoon Tea <strong>&pound;6.50</strong>
              br
              h4 <strong>&pound;25.00</strong> Voucher

      #breakfast-menu.tab-pane.fade(role='tabpanel')
        h1.menu-category-title Breakfast &amp; Brunch
        span served daily from 10am - 1.30pm

        .menu-inner
          
          .menu-inner-section
            .menu-item
              h4.menu-item-title Sandwiches
              p.menu-item-description Served on White or Granary Farmhouse Bread
              
              p Bacon or Sausage <strong>&pound;6.25</strong>
              p Bacon &amp; Egg <strong>&pound;6.50</strong>
              p Sausage &amp; Cheese <strong>&pound;6.50</strong>
              //- p Scrambled Egg, Cheese &amp; Mushroom <span>(v)</span> <strong>&pound;5.95</strong>
              //- p Cheese &amp; Spinach  <strong>&pound;6.75</strong>
                  
          .menu-inner-section
            .menu-item
              h4.menu-item-title Small English<strong>*</strong> &pound;6.75
              p.menu-item-description
                | Two Rashers of Bacon, Fried Egg, Grilled Vine Tomato &amp; 
                | Mushrooms
                  
          .menu-inner-section
            .menu-item
              h4.menu-item-title Full English<strong>*</strong> &pound;7.95
              p.menu-item-description
                | Two Rashers of Bacon, Buttercross Farm Sausage &amp; Fried Egg
                | with Vine Tomato, Mushrooms, Black Pudding, Fried Bread, Hash
                | Brown &amp; Beans

          .menu-inner-section
            .menu-item
              h4.menu-item-title Vegetarian Breakfast<strong>*</strong> &pound;6.95
              p.menu-item-description
                | Hash Brown, Fried Egg, Grilled Haloumi, Spinach, Vine Tomato
                | &amp; Mushrooms
                
          .menu-inner-section
            .menu-item
              h4.menu-item-title Children's Breakfast &pound;5.50
              p.menu-item-description
                | Choose from Bacon <strong><u>or</u></strong> Sausage, Fried <strong><u>or</u></strong> Scrambled Egg, Hash
                | Brown <strong><u>or</u></strong> Mushrooms - <em>with Beans &amp; Toast</em>
                
          .menu-inner-section
            .menu-item
              em
                | <strong>*</strong> Served with a Rack of White &amp; Granary Farmhouse Toast
                br
                | Choice of Scrambled or Poached Eggs available on request
                br
                | Glutten free options available
                
          .menu-inner-section
            .menu-item
              h4.menu-item-title Eggs Benedict &pound;7.25
              p.menu-item-description
                | Lightly toasted English Muffins with Poached Eggs &amp;
                | Hollandaise Sauce served with a choice of:
                br
                em
                  | Bacon / Pan-fried Ham / Smoked / Smoked Salmon ( Eggs Royale )
                  | Wilted Spinach ( Eggs Florentine ) <span>(v)</span>
                  
          .menu-inner-section
            .menu-item
              h4.menu-item-title Smoked Salmon &amp; Eggs &pound;6.95
              p.menu-item-description
                | Scrambled Eggs &amp; Smoked Salmon served with Watercress &amp;
                | Lemon Twist
                
          .menu-inner-section
            .menu-item
              h4.menu-item-title Eggs on Toast &pound;5.95
              p.menu-item-description
                | Poached or Scrambled Eggs served on two slices of buttered White or Granary Toast <span>(v)</span>
                
          .menu-inner-section
            .menu-item
              //- p Berries, Honey &amp; Greek Yogurt with Oats <strong>&pound;4.25</strong>
              p Rack of White &amp; Granary Farmhouse Toast with Raspberry Jam, Honey or Marmalade <strong>&pound;2.25</strong>
                
          .menu-inner-section
            .menu-item
              p Glass of Bucks Fizz <strong>&pound;4.95</strong>
              p Bloody Mary <strong>&pound;6.25</strong>
              p Glass of Champagne <strong>&pound;7.95</strong>
              
      #tea-menu.tab-pane.fade.in.active(role='tabpanel')
        h1.menu-category-title Cream Tea &amp; Afternoon Tea

        .menu-inner
          
          .menu-inner-section
            .menu-item
              h4.menu-item-title Cream Tea &pound;5.95
              p.menu-item-description
                | Warm Home-Made scones ( fruit, cherry, plain or glutten free )
                | served with clotted cream, preserve &amp; a pot of tea or
                | cafetière of coffee
          
          .menu-inner-section
            .menu-item
              h4.menu-item-title Afternoon Tea &pound;15.95 / person
              p.menu-item-description
                | Includes a pot of tea or cafetière of coffee, warm home-made scone with clotted cream
                | and preserve, choice of two sandwiches &amp; a slice of 
                | home-made cake ( add a glass of Prosecco &pound;4 )

          .menu-inner-section
              .menu-item
                h4.menu-item-title Royal Afternoon Tea &pound;23.50 / person
                p.menu-item-description
                  | Includes a glass of medium dry Sherry, pot of tea or cafetière of coffee served with a warm home-made scone, clotted
                  | cream and preserve, choice of two sandwiches &amp; a slice of
                  | home-made cake and a glass of Champagne

          .menu-inner-section
              .menu-item
                h3.menu-item-title Afternoon Tea Sandwich Choices
              
                p Herb Roast Chicken &amp; Mayonnaise
                p Cream Cheese &amp; Cucumber <span>(v)</span>
                p Roast Beef &amp; Horseradish
                p Open Prawn in Marie Rose Sauce
                p Creamy Coronation Chicken
                p Ham &amp; English Mustard
                p Smoked Salmon, Cream Cheese &amp; Cucumber
                p Brie with Apple Chutney <span>(v)</span>
                p Hummus &amp; Red Pepper <span>(v)</span>
                p Egg Mayonnaise &amp; Cress <span>(v)</span>

          .menu-inner-sectiona
              .menu-item
                h4.menu-item-title Children&apos;s Tea &pound;7.50 / child
                p.menu-item-description
                  | Includes fruit juice, tea or hot chocolate with cream and 
                  | marshmallows, choice of sandwich, chocolate or vanilla sweetie cake,
                  | ready salted Crisps and slices of fresh fruit

          .menu-inner-section
              .menu-item
                h3.menu-item-title Children's Sandwich Choices
              
                p Plain Ham
                p Tuna Mayonnaise
                p Grated Cheddar Cheese <span>(v)</span>
                p Cream Cheese &amp; Cucumber <span>(v)</span>
                p Plain Chicken
                p Raspberry Jam <span>(v)</span>
      
        .quote
          p &quot;There are a few hours in life more agreeable than the hour dedicated to the ceremony known as afternoon tea.&quot; - <strong>Henry James</strong>

      #lunch-menu.tab-pane.fade(role='tabpanel')
        h1.menu-category-title Lunch &amp; Light Bites

        .menu-inner
        
          .menu-inner-section
            .menu-item
              h3.menu-item-title Toasted Breads
              
              p Toasted Teacake or Toasted English Muffin with butter and preserve <strong>&pound;3.25</strong>

          .menu-inner-section
            .menu-item
              h3.menu-item-title Omelettes
              p.menu-item-description Three egg omelette served with a filling of your choice, salad &amp; a slice of toast
              
              p Cheese &amp; Ham <strong>&pound;6.95</strong>
              p Cheese &amp; Bacon <strong>&pound;6.95</strong>
              p Cheese &amp; Mushroom <span>(v)</span> <strong>&pound;6.75</strong>
              p Cheese &amp; Tomato <span>(v)</span> <strong>&pound;6.75</strong>
              p Cheese &amp; Spinach <span>(v)</span> <strong>&pound;6.75</strong>
              p Feta, Spring Onion &amp; Tomato <span>(v)</span> <strong>&pound;6.75</strong>

          .menu-inner-section
            .menu-item
              h3.menu-item-title Oatcakes
              p.menu-item-description Two local hand-made oatcakes with a filling of your choice served with salad
              
              p Cheese &amp; Bacon <strong>&pound;6.95</strong>
              //- p Cheese &amp; Sausage <strong>&pound;6.95</strong>
              p Bacon &amp; Egg <strong>&pound;6.95</strong>
              p Sausage &amp; Egg <strong>&pound;6.95</strong>
              p Sausage &amp; Cheese <strong>&pound;6.95</strong>
              //- p Cheese <span>(v)</span> <strong>&pound;6.25</strong>
              p Cheese &amp; Mushroom <span>(v)</span> <strong>&pound;6.75</strong>
              p Cheese &amp; Tomato <span>(v)</span> <strong>&pound;6.75</strong>
              p Cheese &amp; Egg <span>(v)</span> <strong>&pound;6.75</strong>

          .menu-inner-section
            .menu-item
              h3.menu-item-title Salads
              
              p Herb Roast Chicken <strong>&pound;7.25</strong>
              p Roast Beef &amp; pickled gherkins <strong>&pound;7.95</strong>
              p Smoked Salmon &amp; Prawns in Marie Rose sauce <strong>&pound;7.95</strong>
              p Hand-Carved Ham <strong>&pound;7.25</strong>

              //- p Tuna Mayonnaise <strong>&pound;6.75</strong>
              //- p Hand-Carved Roast Beef with pickled onions <strong>&pound;7.95</strong>
              //- p Egg Mayonnaise &amp; Cheese <span>(v)</span> <strong>&pound;6.75</strong>

              i Gem lettuce &amp; mixed leaf salad served in a niaigrette dressing
              
          .menu-inner-section
            .menu-item
              h3.menu-item-title Soup of the Day
              
              p Home-Made Soup served with Warm White &amp; Granary Bread <span>(v)</span> <strong>&pound;6.75</strong>

        .quote
          p &quot;You can never get a cup of tea large enough or a book long enough to suit me.&quot; - <strong>C. S. Lewis</strong>

      #sandwiches-menu.tab-pane.fade(role='tabpanel')
        h1.menu-category-title Sandwiches &amp; Wraps

        .menu-inner
        
          .menu-inner-section
            .menu-item
              h3.menu-item-title Sandwiches
              
              p Herb Roast Chicken &amp; Mayonnaise <strong>&pound;6.75</strong>
              p Cream Cheese &amp; Cucumber <span>(v)</span> <strong>&pound;6.25</strong>
              p Roast Beef &amp; Horseradish <strong>&pound;6.95</strong>
              p Open Prawn in Marie Rose Sauce <strong>&pound;6.95</strong>
              p Creamy Coronation Chicken <strong>&pound;6.75</strong>
              p Ham &amp; English Mustard <strong>&pound;6.75</strong>
              p Smoked Salmon, Cream Cheese &amp; Cucumber <strong>&pound;6.95</strong>
              p Brie with Apple Chutney <span>(v)</span> <strong>&pound;6.25</strong>
              p Hummus &amp; Red Pepper <span>(v)</span> <strong>&pound;6.25</strong>
              p Egg Mayonnaise &amp; Cress <span>(v)</span> <strong>&pound;6.25</strong>
              //- p Open Smoked Mackerel &amp; Cucumber <strong>&pound;6.75</strong>
              //- p Red Salmon &amp; Cucumber <strong>&pound;6.75</strong>
              
          //- .menu-inner-section
          //-   .menu-item
          //-     h3.menu-item-title Paninis
              
          //-     p Tomato, Mozzarella &amp; Pesto <span>(v)</span> <strong>&pound;6.25</strong>
          //-     p Ham, Tomato, Mozzarella &amp; Basil <strong>&pound;6.75</strong>
          //-     p Roast Beef with Red Peppers, Onions, Mustard &amp; Horseradish <strong>&pound;6.95</strong>
          
          .menu-inner-section
            .menu-item
              h3.menu-item-title Toasted Sandwiches
              //- p.menu-item-description Served on Granary Farmhouse bread with side salad &amp; coleslaw
              
              p Bacon, Brie &amp; Tomato <strong>&pound;6.75</strong>
              p Cheese &amp; Onion <span>(v)</span> <strong>&pound;6.25</strong>
              p Roast Beef, Red Pepper and Spring Onion with Mustard &amp; Horseradish <strong>&pound;6.95</strong>
              p Brie &amp; Tomato <span>(v)</span> <strong>&pound;6.25</strong>
              p Ham &amp; Cheese <strong>&pound;6.50</strong>
              //- p Ham &amp; Spinach <strong>&pound;6.50</strong>
            
          .menu-inner-section
            .menu-item
              h3.menu-item-title BLT / Club Sandwich
              
              p Hummus, Red Pepper &amp; Feta <span>(v)</span> <strong>&pound;6.75</strong>
              p Coronation Chicken <strong>&pound;6.95</strong>
              p Prawn &amp; Watercress <strong>&pound;6.95</strong>
              p Tuna, Red Pepper &amp; Spring Onion <strong>&pound;6.75</strong>
            
          .menu-inner-section
            .menu-item
              h3.menu-item-title Wraps
              
              p Crispy Bacon, Sliced Vine Tomato, Baby Leaf Salad &amp; Mayonnaise served on lightly toasted Farmhouse bread <strong>&pound;6.75</strong> ( add warm Chicken Breast <strong>&pound;7.95</strong> )
          
        .quote
          p &quot;Though we eat a ltitle flesh and drink no wine, yet let's be merry, we'll have tea and toast.&quot; - <strong>Percy Bysshe Shelley</strong>

      #drinks-tea-menu.tab-pane.fade(role='tabpanel')
        h1.menu-category-title Tea &amp; Coffee

        .menu-inner
          .menu-inner-section
            .menu-item
              p <strong>English Breakfast:</strong> <em>Traditional Yorkshire tea</em>
              p <strong>Earl Grey:</strong> <em>A fine black tea scented with Bergamont</em>
              p <strong>Darjeeling:</strong> <em>A delicate black tea from the foothills of the Himalayas</em>
              p <strong>Assam:</strong> <em>A strong malty flavoured Indian tea</em>
              p <strong>Ceylon:</strong> <em>Fine quality black tea from Sri Lanka, rich and golden</em>
              p <strong>Lapsang Souchong:</strong> <em>A smokey flavoured Chinese tea</em>
              p <strong>Green Tea:</strong> <em>Light and rich in antioxidants</em>
              p <strong>Jasmine Green Tea:</strong> <em>An elegant tea perfumed with Jasmine flowers</em>
              p <strong>White Tea:</strong> <em>Gently fragrant and sweet</em>
              p <strong>Rooibos or 'Red Bush':</strong> <em>a South African caffeine free herbal infusion</em>
              p <strong>Twinning's Camomile, Lemon &amp; Ginger, Peppermint or Cranberry &amp; Raspberry</strong>
              br
              span pot for one <strong>&pound;2.95</strong> / pot for two <strong>&pound;3.95</strong> / extra-large pot <strong>&pound;4.95</strong>
          
          .menu-inner-section
            .menu-item
              h3.menu-item-title Cafetière of Coffee
              
              p Breakfast Blend, Columbian, French Roast, Guatemalan, Monsoon, Malabar, Java, Kenyan, Ethiopian, Decaffeinated
              br
              span small <strong>&pound;2.95</strong> / medium <strong>&pound;4.95</strong> / large <strong>&pound;6.25</strong>
          
          .menu-inner-section
            .menu-item
              h3.menu-item-title Hot Chocolate
              
              p Mug of Cadbury's hot chocolate with whipped cream &amp; Marshmallows <strong>&pound;3.25</strong>

        .quote
          p &quot;We had a kettle, we let it leak, our not repairing made it worse, we haven't had any tea for a week; the bottom is out of the universe.&quot; - <strong>Rudyard Kipling</strong>

      #drinks-cold-menu.tab-pane.fade(role='tabpanel')
        h1.menu-category-title Cold Drinks

        .menu-inner
          .menu-inner-section
            .menu-item
              h3.menu-item-title Soft Drinks
              
              //- .menu-item-row
              //-   p.menu-item-cell Coke / Diet Coke
              //-   span.menu-item-cell.menu-item-cell-auto <strong>&pound;2.50</strong>
              //-   
              //- .menu-item-row
              //-   p.menu-item-cell Glass of Cold Milk
              //-   span.menu-item-cell.menu-item-cell-auto <strong>&pound;2.50</strong>
              //-   
              //- .menu-item-row
              //-   p.menu-item-cell Lipton&apos;s Peach Iced Tea
              //-   span.menu-item-cell.menu-item-cell-auto <strong>&pound;2.50</strong>
              //-   
              //- .menu-item-row
              //-   p.menu-item-cell Coke / Diet Coke
              //-   span.menu-item-cell.menu-item-cell-auto <strong>&pound;2.50</strong>
              //-   
                
              p Coke / Diet Coke <strong>&pound;2.50</strong>
              p Britvic Lemonade / Britvic Orange Juice / Cranberry Juice <strong>&pound;2.00</strong>
              p Indian Tonic Water / Slimline Tonic Water <strong>&pound;2.00</strong>
              p Fentiman&apos;s: Victorian Lemonade / Ginger Beer / Rose Lemonade / Sparkling Elderflower / Dandelion &amp; Burdock <strong>&pound;2.75</strong>
              p Lipton&apos;s Iced Tea / San Pellegrino Lemonade <strong>&pound;2.50</strong>
              p Strathmore Still / Sparkling Water <strong>&pound;2.00</strong>
              p Fruit Shoot / Children's Apple Juice <strong>&pound;1.95</strong>
              p Glass of Cold Milk <strong>&pound;1.75</strong>
          
          .menu-inner-section
            .menu-item
              h3.menu-item-title Wine &amp; Prosecco
          
              p Glass of Prosecco <strong>&pound;4.95</strong>
              p Glass of White, Rose or Red Wine <strong>125ml &pound;3.95 / 175ml &pound;4.95 / 250ml &pound;5.95</strong>
              p Bottle of Prosecco <strong>&pound;21.95</strong>
              
          .menu-inner-section
            .menu-item
              h3.menu-item-title Champagne
            
              p Bottle of Champagne <strong>&pound;36.95</strong>
              p Glass of Champagne <strong>&pound;7.95</strong>
              
          .menu-inner-section
            .menu-item
              h3.menu-item-title Beers &amp; Spirits
              
              p Peroni 330ml <strong>&pound;4.00</strong>
              p Gordon's Gin 25ml <strong>&pound;3.00</strong>
              p Sherry 50ml <strong>&pound;2.50</strong>
              p Creme de Cassis <strong>&pound;2.95</strong>
              //- p Whiskey 25ml <strong>&pound;3.40</strong>
