section#menu.menu
  .row
    .col-md-4
      .box
        h1.section-title Menu

        img.img-responsive(src='img/tea-pot.png', alt='Tea Pot', title='Whitmore Tea Rooms')

        .bookings-information
          p Bookings available for large parties and special occasions.

        div(role='tabpanel')
          ul.nav.nav-tabs(role='tablist')
            li(role='presentation')
              a.menu-item(href='#drinks-menu', aria-controls='drinks-menu', role='tab', data-toggle='tab') Soft Drinks

            li.active(role='presentation')
              a.menu-item(href='#tea-menu', aria-controls='tea-menu', role='tab', data-toggle='tab') Lunch &amp; Afternoon Tea

            li(role='presentation')
              a.menu-item(href='#savouries-menu', aria-controls='savouries-menu', role='tab', data-toggle='tab') Savouries &amp; Light BItes

    .col-md-8
      .box
        .tab-content
          #drinks-menu.tab-pane.fade(role='tabpanel')
            h1.menu-category-title Soft Drinks Menu

            .menu-drinks
              .item
                p Coke Cola / Diet Coke
                span &pound;2.20

              .item
                p Fentiman&apos;s Victorian Lemonade
                span &pound;2.50

              .item
                p Fentiman&apos;s Dandelion &amp; Burdoch
                span &pound;2.50

              .item
                p Fentiman&apos;s Ginger Beer
                span &pound;2.50

              .item
                p Bottlegreen Elderflower Presse
                span &pound;2.20

              .item
                p Brit Vic Cranberry Juice
                span &pound;1.80

              .item
                p Brit Vic Orange Juice
                span &pound;1.80

              .item
                p Schweeppes Tonic / Slimline Tonic
                span &pound;1.80

              .item
                p Fruit Shoots
                span &pound;1.50

              .item
                p Sparkling / Still Mineral Water
                span &pound;2.00

              .item
                p Lipton&apos;s Peach Iced Tea
                span &pound;2.00

          #tea-menu.tab-pane.fade.in.active(role='tabpanel')
            h1.menu-category-title Lunch &amp; Afternoon Tea

            .menu-tea.divider
              .item
                h3.item-title Pot of Tea for one &pound;2.95 / for two &pound;3.95
                p
                  | English Breakfast, Earl Gray, Darjeeling, Assam &amp; Lapsang Souchong /
                  | Strawberry Rooibos, Camomile, Lemon &amp; Ginger, Peppermint / Green Teas Jasmine,
                  | White &amp; Sencha

              .item
                h3.item-title Cafetiere of Coffee small &pound;2.95 / medium &pound;4.95 / large &pound;6.95
                p
                  | Choose from our selection of fresh ground Arabica coffee; Breakfast Blend,
                  | French Roast, Colombian, Guatemalan Antigua &amp; Organic Peruvian

              .item
                h3.item-title Cream Tea &pound;5.50
                p Home-Made fruit Scones with Clotted Cream &amp; Preserve served with a Pot of Tea

              .item
                h3.item-title Afternoon Tea &pound;12.50 / person
                p
                  | Includes a pot of tea or cafetiere of fresh coffee with a warm of
                  | fruit scone, clotted cream and preserve, a selection of dainty finger
                  | sandwiches( two sandwich fillings per person ), and a choice of one
                  | slice of home-made cake per person.

              .item
                h3.item-title Royal Tea &pound;18.50 / person
                p
                  | Includes a glass of medium or dry sherry to begin followed by a pot
                  | of tea or cafetiere of fresh coffee served with a selection of finger sandwiches,
                  | scones, clotted cream, preserve &amp; home-made cakes plus champagne.

              .item
                h3.item-title Children&apos;s Tea &pound;6.50 / child
                p Fruit juice or hot chocolate with a selection of finger sandwiches, cake, crisps and fruit.

          #savouries-menu.tab-pane.fade(role='tabpanel')
            h1.menu-category-title Savouries &amp; Light Bites

            .menu-savouries.divider
              .item
                h3.item-title Omelettes
                p Cheese Omelette with Toast &amp; Salad Garnish (v) &pound;6.50
                p Cheese &amp; Ham &pound;6.95
                p Cheese &amp; Mushroom (v) &pound;6.75

              .item
                h3.item-title Traditional Toasted Breads
                p Toasted Teacake, English Muffin or Crumpet with butter and preserve &pound;2.25

              .item
                h3.item-title Bacon &amp; Egg Sandwich
                p hree Rashers of Bacon &amp; Eggs on soft or lightly toasted White or Granary farmhouse Bread &pound;4.95

              .item
                h3.item-title Oatcakes
                p Two Local Oatcakes filled with Cheese &pound;5.75
                p Cheese &amp; Bacon &pound;6.50
                p Egg &amp; Cheese (v) &pound;5.95
                p Sausage &amp; Cheese &pound;6.50
                p Cheese &amp; Mushroom (v) &pound;5.95

              .item
                h3.item-title Soup of the Day
                p Home-Made Bowl of Soup served with warm bread roll &amp; butter (v) &pound;5.95

              .item
                h3.item-title Sandwiches
                p Open Crayfish in Cocktail Sauce &pound;6.95
                p Free-Range egg &amp; cress (v) &pound;4.95
                p Honey Roast Ham &amp; English Mustard &pound;5.95
                p Herb Roast Chicken Breast &pound;5.95
                p Cream Cheese &amp; Cucumber (v) &pound;4.95
                p Smoked Salmon &amp; Dill &pound;6.95
                p Roast Beef &amp; Horseradish Cream &pound;6.95

.quote
  p &quot;You can never get a cup of tea large enough or a book long enough to suit me&quot; -C. S. Lewis
