.row.social-links--container
  .col-sm-12
    .box
      
      p Find Whitmore Tea Rooms on
      
      ul.list-inline.social-links
        li
          a.facebook(href='https://www.facebook.com/tearoomswhitmore?ref=whitmoretearooms.co.uk')
            i.wta-facebook Facebook
        li
          a.gplus(href='https://plus.google.com/101576584832781482721?ref=whitmoretearooms.co.uk')
            i.wta-gplus Google+
