include jade/header

- var slides = 1

main#content
  section.intro
    #carousel.carousel.hidden-xs

      while slides < 15

        div.carousel-layer(class="carousel-layer-#{ slides }")
          img.lazyOwl(data-src="img/carousel#{ slides++ }.JPG", title='Whitmore Tea Rooms', alt='')

    .container
      .row
        .board-container
          .board
            .board-contact-information
              p: i.wta-phone 01782 680433
              p: i.wta-mail info@whitmoretearooms.co.uk

            img.christmas-pattern(src='img/christmas-pattern.svg')

            .bord-text
              h1.board-title Opening Hours

              a.elevate(href='#christmas-opening-times', class='christmas-url', title='Whitmore Tea Rooms Christmas Opening Times')
                | Please see our Christmas &amp; New year Opening Times

              p Monday - closed
              p Tuesday - 10am to 5pm
              p Wednesday - 10am to 5pm
              p Thursday - 10am to 5pm
              p Friday - 10am to 5pm
              p Saturday - 10am to 5pm
              p Sunday - 10am to 4pm

              .board-social-media
                p
                  | Find us on

                  a.elevate(href='https://www.facebook.com/tearoomswhitmore?ref=whitmoretearooms.co.uk', title='Facebook')
                    img.flaticon(src='img/facebook.svg', title='Like us on Facebook', alt='f')
                    | facebook

                  |  and

                  a.elevate(href='https://plus.google.com/101576584832781482721/about?ref=whitmoretearooms.co.uk', title='Google+')
                    img.flaticon(src='img/google.svg', title='Add us on Google+', alt='f')
                    | google+

  section.content
    .container
      section#about.box.about
        h1.section-title Whitmore Tea Rooms

        p
          | Situated in the heart of the English countryside Whitmore Tea
          | Rooms is located in a beautifully restored 18th century cottage
          | in an area reminiscent of a bygone era or a scene from a Jane
          | Austen novel.

        p
          | Overlooking the historic parish church and fabulous grounds of
          | Whitmore Hall the tea room is a quiet haven to relax and take a
          | trip back in time to celebrate tea in its time honoured
          | traditional style.

        p
          | Re-opened in September 2013 and lovingly restored we have
          | successfully established a reputation for high quality food and
          | service combined with an ambiance that is both relaxed and
          | classically elegant. We guarantee a warm welcome from all of our
          | staff and offer an experience that is both unique and ultimately
          | satisfying.

        p
          | Our cooks and cake bakers work daily to provide the freshest
          | food made with the best ingredients, and we source the highest
          | quality fresh ground coffee and loose leaf tea. Our breakfast,
          | lunch and afternoon tea menus are available daily along with a
          | wide selection of home-made cakes and scones. We can also create
          | bespoke menus to suit any occasion if required and all of our
          | home-made cakes are available gift-wrapped to pre-order and collect.

        p
          | So whether you are just popping in for a pot of tea for one or
          | organising a party for 30 we can ensure that your visit to our
          | charming tea rooms will be an unforgettable event. We look
          | forward to seeing you soon!

      .quote
        p &quot; There are few hours in life more agreeable than the hour dedicated to the ceremony known as afternoon tea &quot; -Henry James

      section#christmas-opening-times.box
        h1.section-title Christmas Opening Times
        img.christmas-pattern-left(src='img/christmas-pattern-black.svg')
        img.christmas-pattern-right(src='img/christmas-pattern-black.svg')

        .row
          .col-sm-6
            h2 December
            
            p
              strong Tuesday 19th
              | - 10am to 5pm
            p
              strong Wednesday 20th
              | - 10am to 5pm
            p
              strong Thursday 21st
              | - 10am to 5pm
            p
              strong Friday 22nd
              | - 10am to 5pm
            p
              strong Saturday 23rd
              | - 10am to 5pm
            p
              strong Christmas Eve Sunday 24th
              | - closed
            p
              strong Christmas Day Monday 25th
              | - closed
            p
              strong Boxing Day Tuesday 26th
              | - closed
            p
              strong Wednesday 27th
              | - 10am to 4pm
            p
              strong Thursday 28th
              | - 10am to 4pm
            p
              strong Friday 29th
              | - 10am to 4pm
            p
              strong Saturday 30th
              | - 10am to 4pm
            p
              strong New Year's Even Sunday 31st
              | - closed

          .col-sm-6
            h2 January

            p
              strong New Year's Day Monday 1st
              | - closed
            p
              strong Tuesday 2nd
              | - closed
            p
              strong Wednesday 3rd
              | - closed
            p
              strong Thursday 4th
              | - closed
            p
              strong Friday 5th
              | - 10am to 5pm
            p
              strong Saturday 6th
              | - 10am to 5pm
            p
              strong Sunday 7th
              | - 10am to 5pm

      .quote
        p &quot; Thank God for tea! What would the world do without tea! How did it exist? I am glad I was not born before tea. &quot; -Sydney Smith

      section#menu.menu.menu-index
        include jade/menu

include jade/contact
include jade/footer